.selectable-list-form {
	margin: 0 auto 20px auto;
}

.selectable-list-component .selected-items {
	margin-bottom: 45px;
}

.selectable-list-component .tooltip.top .tooltip-inner {
  background-color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	color: #000;
}

.selectable-list-component .tooltip.in {
  opacity: 1;
  filter:alpha(opacity=100);
}

.selectable-list-component .tooltip.top .tooltip-arrow {
  border-top-color: #fff;
}

.selectable-list-component .items-list li {
	align-items: center;
	border-right: none;
	border-left: none;
	border-bottom: none;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	margin: 0 auto 10px auto;
	min-height: 56px;
	padding: 15px;
	position: relative;
	transform-origin: 50% 50%;

	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.selectable-list-component .items-list li input {
	visibility: hidden;
}

.selectable-list-component .items-list li:hover:not(.disabled),
.selectable-list-component .items-list li.active,
.selectable-list-component .items-list li.active:hover {
	border-color: #ddd;
	background-color: #fff;
	color: black;
}

.selectable-list-component .items-list li:hover:not(.disabled) .details-container,
.selectable-list-component .items-list li.active .details-container,
.selectable-list-component .items-list li.active:hover .details-container {
	padding-left: 115px;
}

.selectable-list-component .items-list .list-group-item.active > .badge {
	background-color: #777;
  color: #fff;
}

.selectable-list-component .items-list li .close-item {
	border: none;
	border-radius: 50%;
	color: #337ab7;
	display: none;
	font-size: 18px;
	height: 30px;
	margin-right: 20px;
	padding: 0;
	width: 30px;
}

.selectable-list-component .details-container {
	bottom: 0;
	left: 0;
	display: flex;
	overflow: hidden;
	position: absolute;
	padding: 15px;
	top: 0;
	transition: all 0.3s;
	width: 100%;
}

.selectable-list-component .items-list li .badge {
	line-height: 25px;
	margin-left: auto;
	padding: 0 10px;
	position: relative;
}

/* .selectable-list-component .items-list li .badge:before {
	background-color: #76ff03;
	border-radius: 50%;
	content: ' ';
	display: block;
	height: 12px;
	left: 5px;
	position: absolute;
	top: 7px;
	width: 12px;
} */

.selectable-list-component .items-list li .badge.disabled:before {
	background-color: #f44336;
}

.selectable-list-component .items-list li .item-title {
	font-size: 16px;
}

.selectable-list-component .items-list .add-item-btn,
.selectable-list-component .items-list .remove-item-btn {
	display: block;
	left: -100px;
	transition: all 0.3s;
	position: absolute;
  bottom: 0;
  top: 0;
  border: none;
  color: white;
  border-radius: 0;
	width: 100px;
}

.selectable-list-component .items-list .add-item-btn span,
.selectable-list-component .items-list .remove-item-btn span {
	font-size: 18px;
}

.selectable-list-component .items-list li.active .remove-item-btn {
  left: 0;
}

.selectable-list-component .items-list li:hover:not(.disabled) .add-item-btn {
  left: 0;
}

.selectable-list-component .items-list li.active .add-item-btn {
	left: -100px;
}

.no-available-apis-msg,
.no-selected-api-msg {
	display: none;
}
