{{ define "cataloguePage" }} {{ $org_id := .OrgId}} {{ template "headerCustom" .}}
{{ $page := .}}


<body>
  <!-- Preloader -->
	{{ template "preloader" .}}
  <!-- end of preloader -->

  {{ template "navigationCustomCollapsed" . }}
  <div class="form-2">
    <!-- Main content here -->
    <div class="container">
      <div class="row">
        <h1>API Catalogue</h1>
      </div>
      {{ if .Error }}
      <div class="row">
        <div class="col-md-7 center">
          <div class="alert alert-danger text-center col-lg-8 col-lg-offset-2 success-page error">Error while loading data</div>
        </div>
      </div>
      {{ end }}
      <div class="row catalogues-list">
        {{ if .Data.APIS }} {{ range $index, $apiDetail := .Data.APIS}} 
          {{ if $apiDetail.Show }}
          <div class="col-md-4">
            <h2>
              <span>{{$apiDetail.Name}}</span>
              <span class="badge badge-primary">{{$apiDetail.AuthType}}</span>
            </h2>
            <p>{{$apiDetail.LongDescription | markDown}}</p>
            {{ if $apiDetail.Documentation }}
            <a href="{{ $page.PortalRoot }}apis/{{$apiDetail.Documentation}}/documentation/" class="btn btn-solid-lg page-scroll">
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp; View documentation
            </a>
            <br/>
            {{ end }}
          </div>
          {{ end }} 
        {{ end }}
      </div>
      {{ else }}
      <div class="row">
        <p>
          <em>It looks like there are no APIs in the Catalogue.</em>
        </p>
      </div>
      {{ end }}
    </div>
  </div>

  {{ template "footerCustom" .}}

  <!-- /container -->
  {{ template "scripts" .}}
</body>
</html>


{{ end }}
