{{ define "cataloguePage" }} {{ $org_id := .OrgId}} {{ template "headerCustom" .}}
{{ $page := .}}


<body>
  <!-- Preloader -->
  {{ template "preloader" .}}
  <!-- end of preloader -->

  {{ template "navigationCustomCollapsed" . }}
  <div class="main-wrapper" style="margin-bottom:15%">
    <div class="form-2">
      <!-- Main content here -->
      <div class="container">
        <div class="row">
          <h2>Catalogo APIs</h2>
        </div>
        {{ if .Error }}
        <div class="row">
          <div class="col-md-7 center">
            <div class="alert alert-danger text-center col-lg-8 col-lg-offset-2 success-page error">Errore nel
              caricamento dei dati.</div>
          </div>
        </div>
        {{ end }}
        <div class="row catalogues-list">
          {{ if .Data.APIS }} {{ range $index, $apiDetail := .Data.APIS}}
          {{ if $apiDetail.Show }}
          <div class="col-md-4">
            <h2>
              <span>{{$apiDetail.Name}}</span>
              <span class="badge badge-primary">{{$apiDetail.AuthType}}</span>
            </h2>
            <p>{{$apiDetail.LongDescription | markDown}}</p>
            {{ if $apiDetail.Documentation }}
            <a href="{{ $page.PortalRoot }}apis/{{$apiDetail.Documentation}}/documentation/"
              class="btn btn-solid-lg page-scroll" style="width: 100%; text-decoration: none;">
              <span class="far fa-newspaper" aria-hidden="true"></span>&nbsp; Documentazione
            </a>
            <br />
            {{ end }}
          </div>
          {{ end }}
          {{ end }}
        </div>
        {{ else }}
        <div class="row">
          <p>
            <em>Non sono presenti APIs nel catalogo.</em>
          </p>
        </div>
        {{ end }}
      </div>
    </div>
  </div>

  {{ template "footerCustom" .}}

  <!-- /container -->
  {{ template "scripts" .}}
</body>

</html>


{{ end }}