{{ define "customLoginPage" }}
{{ $page := .}}

{{ template "headerCustom" .}}


	<body>
    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->

	{{ template "navigationCustom" . }}

	<div>

		<div class="container" style="margin-top: 80px;">
			<div class="row">


					{{ if .Error  }}
					<div class="col-md-7 center">
						<div class="panel panel-danger">
							<div class="panel-body">
								{{.Error}}
							</div>
						</div>
					</div>
					{{ end }}



					{{ if .PortalConfig.DisableLogin }}
						<div class="col-md-7 center">
							<p><em>Login has been disabled</em></p>
						</div>
					{{ else }}
						<div class="col-md-7 center">
							<div class="panel panel-default" id="login-panel">
							  <div class="panel-heading">
							    <h3 class="panel-title">Login</h3>
							  </div>
							  <div class="panel-body">
							    <form action="" method="POST">
									<input type="hidden" name="csrf_token" value="{{ .Token }}">

									<div class="form-group">
										<label for="username">Email address</label>
										<input type="email" class="form-control" id="username" name="username" placeholder="Enter email">
									</div>
									<div class="form-group">
										<label for="password">Password</label>
										<input type="password" class="form-control" id="password" name="password" placeholder="Password" autocomplete="off">
									</div>
									<input type="submit" class="btn-solid-lg page-scroll" value="Login"></button>

								</form>
							  </div>
							</div>
							{{ if not .PortalConfig.DisableSignup }}
								{{ if not .UserData }}
									<p>Don't have an account ? <strong> <a href="{{ $page.PortalRoot }}register/">Register </a> </strong> here</p>
									<p>Forgot password? <strong> <a href="{{ $page.PortalRoot }}password_reset">Request password reset </a> </strong> </p>
								{{ end }}
							{{ end }}
						</div>
					{{ end }}
			</div>
		</div>
	</div>

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-container about">
                        <h4>Qualche parola su Aboca</h4>
                        <p class="white">Il nostro impegno a generare un impatto positivo sulle persone e sull'ambiente è sancito dal nostro statuto di società benefit e valutato e misurato secondo standard internazionali con la certificazione B Corp. Per il Bene Comune, il Bene di tutti.</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Links</h4>
                        <ul class="list-unstyled li-space-lg white">
                            <li>
                                <a class="white" href="https://www.aboca.com/it/">www.aboca.com</a>
                            </li>
                            <li>
                                <a class="white" href="https://www.aboca.com/it/privacy-policy/">Privacy Policy</a>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Tools</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li>
                                <a class="white" href="#your-link">businessgrowth.com</a>
                            </li>
                            <li>
                               <a class="white" href="#your-link">influencers.com</a>
                            </li>
                            <li class="media">
                                <a class="white" href="#your-link">optimizer.net</a>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Partners</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li>
                                <a class="white" href="#your-link">unicorns.com</a>
                            </li>
                            <li>
                                <a class="white" href="#your-link">staffmanager.com</a>
                            </li>
                            <li>
                                <a class="white" href="#your-link">association.gov</a>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->  
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">COPYRIGHT © 1998-2021 ABOCA S.P.A. - SOCIETÀ AGRICOLA  P.I. 01704430519</p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright --> 
    <!-- end of copyright -->
    
    	
    <!-- Scripts -->
    <script src="/portal-assets/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="/portal-assets/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="/portal-assets/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="/portal-assets/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="/portal-assets/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="/portal-assets/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="/portal-assets/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
    <script src="/portal-assets/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
    <script src="/portal-assets/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="/portal-assets/js/scripts.js"></script> <!-- Custom scripts -->

  </body>
</html>



{{ end }}
	