{{define "header"}}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>{{ if .Title }}{{.Title}} {{else}} API Developer portal {{end}}</title>

	<!-- Use bootstrap core CSS -->
	<link href="/portal-assets/css/bootstrap.min.css" rel="stylesheet">


	<!-- Custom portal CSS -->
	<link href="/portal-assets/css/custom.css" rel="stylesheet">
	<link href="/portal-assets/css/selectable-list.css" rel="stylesheet">
	<link href="/portal-assets/css/dynamic-inputs.css" rel="stylesheet">
	<link href="/portal-assets/css/key-request-flow.css" rel="stylesheet">

	<!-- Inject the custom CSS here -->
	<link href="{{.PortalRoot}}custom/custom.css" rel="stylesheet">

	<link rel="icon" type="image/png" href="/portal-assets/images/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/portal-assets/images/favicon-16x16.png" sizes="16x16" />
	<link rel="shortcut icon" href="/portal-assets/images/favicon.ico" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
      <script src="/portal-assets/js/html5shiv.min.js"></script>
      <script src="/portal-assets/js/respond.min.js"></script>
      <style id="antiClickjack">body{display:none !important;}</style>
  <![endif]-->
</head>

{{ end }}
