{{define "navigationCustomCollapsed"}}

{{ $org_id := .OrgId}}
{{ $page := .}}
<nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top custom-nav-collapse navbar-custom-collapsed">
     <!-- Image Logo -->
     <a class="navbar-brand logo-image" href="{{ $page.PortalRoot }}"><img src="/portal-assets/images/logo-group.png"alt="alternative"></a>

    <div class="container">
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
               
                {{ if .PortalConfig.CatalogueLoginOnly }}
                    {{ if .UserData }}
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{{ $page.PortalRoot }}apis/">CATALOGO</a>
                    </li>
                    {{ end }}
                {{ else }}
                <li class="nav-item"><a class="nav-link page-scroll" href="{{ $page.PortalRoot }}apis/">CATALOGO</a>
                </li>
                {{ end }}

                {{ if .OAuthEnabled }}
                <li class="nav-item"><a class="nav-link page-scroll" href="{{ $page.PortalRoot }}oauth-clients/">OAUTH
                        CLIENTS</a></li>
                {{ end }}

                {{ if not .PortalConfig.DisableSignup }}
                    {{ if not .UserData }}
                    <li class="nav-item"><a class="nav-link page-scroll" href="{{ $page.PortalRoot }}register/">REGISTER</a>
                    </li>
                    {{ end }}
                {{ end }}
                {{ if not .PortalConfig.DisableLogin }}
                    {{ if not .UserData }}
                    <li class="nav-item"><a class="nav-link page-scroll" href="{{ $page.PortalRoot }}loginpage/">LOGIN</a></li>
                    {{ end }}
                {{ end }}

                {{ if .UserData }}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="#" id="navbarDropdown" role="button"
                    aria-haspopup="true" aria-expanded="false">ACCOUNT</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ .PortalRoot }}member/"><span class="item-text">API Dashboard</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="{{ .PortalRoot }}member/profile/"><span class="item-text">Edit profile</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="{{ .PortalRoot }}logout/"><span class="item-text">Log out</span></a>
                    </div>
                </li>
                {{ end }}
                
                <!-- Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="#about" id="navbarDropdown" role="button"
                        aria-haspopup="true" aria-expanded="false">ABOUT</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#"><span class="item-text">TERMS CONDITIONS</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="#"><span class="item-text">PRIVACY POLICY</span></a>
                    </div>
                </li>
                <!-- end of dropdown menu -->

            </ul>
        </div>
        </div>
</nav>

{{ end }}