{{define "oldscripts"}}

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
      portalRoot = {{ .PortalRoot }};
    </script>
  	<script src="/portal-assets/js/jquery.min.js"></script>
    <script src="/portal-assets/js/jquery.twbsPagination.min.js"></script>
    <script src="/portal-assets/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/portal-assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/portal-assets/js/key-request-flow.js"></script>
    <script src="/portal-assets/js/selectable-list.js"></script>
    <script src="/portal-assets/js/dynamic-inputs.js"></script>
    <script src="/portal-assets/js/copy-to-clipboard.js"></script>
    <script src="/portal-assets/js/custom.js"></script>

{{ end }}
