{{ define "profilePage" }}
{{ $page := .}}

{{ template "headerCustom" .}}



<body>
	<!-- Preloader -->
	{{ template "preloader" .}}
	<!-- end of preloader -->

	{{ template "navigationCustomCollapsed" . }}



	<div class="main-wrapper">
		<!-- Edit -->
		<div id="edit-profile" class="form-2">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="text-container">
							<div class="section-title">EDIT</div>
							<h2>Aggiorna la password</h2>
							<p>Utilizza il form per aggiornare la password del tuo developer user.</p>
							<ul class="list-unstyled li-space-lg">
								<li class="address"><i class="fas fa-map-marker-alt"></i>Aboca IT Services</li>
								<li><i class="fas fa-phone"></i><a href="tel:003024630820">+81 720 22 126</a></li>
								<li><i class="fas fa-phone"></i><a href="tel:003024630820">+81 720 22 128</a></li>
								<li><i class="fas fa-envelope"></i><a
										href="mailto:aboca@services.com">aboca@services.com</a></li>
							</ul>
						</div> <!-- end of text-container -->
					</div> <!-- end of col -->
					<div class="col-lg-6">
						<div class="panel panel-default" id="edit-profile-panel">
							<div class="panel-heading" style="margin-bottom: 2.25rem;">
							</div>
							<div class="panel-body">
								<form action="" method="POST">
									<div class="form-group">
										<label for="username">Email address</label>
										<input type="email" class="form-control" id="username" name="username"
											placeholder="Enter email" value="{{.Developer.Email}}">
									</div>

									<div class="form-group">
										<label for="password">New password</label>
										<input type="password" class="form-control" id="password" name="password"
											placeholder="Enter new password">
										<small class="form-text text-muted">Leave blank to keep the current
											password.</small>
									</div>

									<div class="form-group">
										<label for="password_confirmation">New password confirmation</label>
										<input type="password" class="form-control" id="password_confirmation"
											name="password_confirmation" placeholder="Enter new password again">
									</div>

									{{ if .PortalConfig.SignUpFields }}
									<!-- You can set these in the portal admin, then add the relevant form fields in here -->
									{{ $devFields := .Developer.Fields}}
									{{range $fieldname := .PortalConfig.SignUpFields}}
									<div class="form-group">
										<label for="{{$fieldname}}">{{$fieldname}}</label>
										<input type="text" class="form-control" id="{{$fieldname}}"
											name="{{$fieldname}}" placeholder=""
											value='{{index $devFields $fieldname}}'>
									</div>
									{{ end }}

									{{ end }}
									<input type="submit" class="btn-solid-lg page-scroll" value="Update"></button>
									{{ if .Error }}

									<div class="panel panel-danger">
										<div class="panel-body">
											{{.Error}}
											{{ if .ValidationErrors }}
											<ul>
												{{range $e := .ValidationErrors}}
												<li>{{$e}}</li>
												{{end}}
											</ul>
											{{ end }}
										</div>
									</div>

									{{ end }}

									{{ if .Updated }}

									<div class="panel panel-success">
										<div class="panel-body">
											<p>
												Profile updated sucessfully.
											</p>
										</div>
									</div>

									{{ end }}
								</form>
							</div>
						</div>

					</div> <!-- end of col -->
				</div> <!-- end of row -->
			</div> <!-- end of container -->
		</div> <!-- end of form-2 -->

		<!-- end Edit -->
		<div class="col-md-2">
			{{ template "portalMemberNavigation" . }}
		</div>
	</div>
	<!--Footer-->
	{{ template "footerCustom" .}}


	<!-- Scripts -->
	{{ template "scripts" . }}

</body>

</html>



{{ end }}