{{ define "requestKeySuccess" }}


{{ template "header" .}}


  <body>
  
  	{{ template "navigation" . }}

    <div>
    	
    	<div class="container" style="margin-top: 80px;">
    		<div class="row">
    			<div class="col-md-10">
	    			<h1>Congratulations!</h1>
	    			
	    			<p>
	    			Your key has been requested.
	    			</p>
	    			
	    			{{ if .Approved }}
	    			
	    			<div class="panel panel-danger">
						<div class="panel-body">
							<p>Your key request has been approved!</p>
							{{ if not .isBA }}
							<p><strong>Your new key is:</strong></p>
							<p class="break-word">{{.NewKey}}</p>
							{{ else}}
							<p><strong>Your new credentails are:</strong></p>
							<p><strong>Username</strong>: {{.username}}</p>
							<p><strong>Password</strong>: {{.password}}</p>
							{{ end}}
				            {{ if .HMACSecret }}
				            <p><span><strong>HMAC secret</strong>: {{.HMACSecret}}</span></p>
				            {{ end }}
							<p>
							<strong>
								Important: You will not be able to retrieve this username and password later, please take note of it 
								and keep it safe.
							</strong>
						</div>
					</div>
	    			
	    			{{ end }}
	    		</div>
    			
				<div class="col-md-2">
    				{{ template "portalMemberNavigation" . }}
    			</div>
    			
    		</div>    		
    		
    	</div>
    	
    </div>

	  {{ template "footer" .}}
      
    </div> <!-- /container -->


    {{ template "scripts" .}}
  </body>
</html>



{{ end }}