{{ define "requestMultiKeySuccess" }}
{{ template "header" .}}
<body>
  <div>
    <div class="page-header">
      <div class="page-header-container">
        <div class="title text-center">
          {{if .Key}}
          <h1>Modify API Key</h1>
          {{else}}
          <h1>Request API Key</h1>
          {{end}}
        </div>
      </div>
    </div>
    <div class="container content-wrapper key-request-flow-wrapper" data-fixed-api="{{.Catalogue}}">
      <div class="row text-center">
        <div class="col-lg-12 text-center">
          <ol class="breadcrumb">
            <li class="cogs disabled "><a href="#choose-api" data-toggle="tab" aria-controls="choose-api" role="tab" title="Select API">Select API</a></li>
            <li class="info disabled"><a href="#details" data-toggle="tab" aria-controls="details" role="tab" title="Enter details">Enter details</a></li>
            <li class="check active"><a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">Final step</a></li>
          </ol>
          {{ if .Error }}
          <div class="alert alert-danger">
            {{.Error}}
          </div>
          {{ end }}
        </div>
      </div>
      {{ if .Approved }}
      <div class="row">
        <div class="col-lg-7 col-lg-offset-3 success-page requires-approval">
          <h3 class="text-center">Congratulations! Your key request has been approved!</h3>
          <div class="text-center">
            <p class="text-center">
              {{ if not .isBA }}
              <span><strong>Your new key is:</strong></span>
              <span class="break-word">{{.NewKey}}</span>
              {{ else}}
              <span><strong>Your new credentails are:</strong></span>
              <span><strong>Username</strong>: {{.username}}</span>
              <span><strong>Password</strong>: {{.password}}</span>
              {{ end}}
              {{ if .HMACSecret }}
              <span><strong>HMAC secret</strong>: {{.HMACSecret}}</span>
              {{ end }}
            </p>
            <div class="alert alert-warning">
              <strong>
              Important: You will not be able to retrieve this username and password later, please take note of it
              and keep it safe.
              </strong>
            </div>
          </div>
        </div>
      </div>
      {{else}}
      <div class="row">
        <div class="col-lg-7 col-lg-offset-3 success-page requires-approval">
          {{if .Key}}
          <h3 class="text-center">Key modification request has been submitted!</h3>

          <div class="choose-api-wrapper auth-apis text-center">
            {{if .CataloguesRequireApproval}}
            <div class="selectable-list-component">
              <h4 class="selected-items-title text-left">Access to the following APIs require approval:</h4>
              <p class="text-left">Your key request has been sent!</p>
              <ol class="selected-items items-list list-group">
                {{range $idx, $cat := .CataloguesRequireApproval}}
                <li
                  class="list-group-item item active clickable-item"
                  data-auth-type="{{$cat.AuthType}}"
                >
                  <div>
                    <span class="item-title">{{$cat.Name}}</span>
                  </div>
                </li>
                {{end}}
              </ol>
            </div>
            {{end}}

            {{if .CataloguesRevoked}}
            <div class="selectable-list-component">
              <h4 class="selected-items-title text-left">Access to the following APIs was revoked:</h4>
              <ol class="selected-items items-list list-group">
                {{range $idx, $cat := .CataloguesRevoked}}
                <li
                  class="list-group-item item active clickable-item"
                  data-auth-type="{{$cat.AuthType}}"
                >
                  <div>
                    <span class="item-title">{{$cat.Name}}</span>
                  </div>
                </li>
                {{end}}
              </ol>
            </div>
            {{end}}

            {{if .CataloguesApproved}}
            <div class="selectable-list-component">
              <h4 class="selected-items-title text-left">Access to the following APIs approved:</h4>
              <ol class="selected-items items-list list-group">
                {{range $idx, $cat := .CataloguesApproved}}
                <li
                  class="list-group-item item active clickable-item"
                  data-auth-type="{{$cat.AuthType}}"
                >
                  <div>
                    <span class="item-title">{{$cat.Name}}</span>
                  </div>
                </li>
                {{end}}
              </ol>
            </div>
            {{end}}
          </div>
          {{else}}
          <h3 class="text-center">Congratulations! Your key request has been sent!</h3>
          {{end}}
        </div>
      </div>
      {{end}}
    </div>
  </div>
  {{ template "navigation" . }}
  {{ template "footer" .}}
  <!-- /container -->
  {{ template "scripts" .}}
</body>
</html>
{{ end }}
