{{ define "requestKey" }}


{{ template "header" .}}


  <body>

  	{{ template "navigation" . }}

    <div>

    	<div class="container" style="margin-top: 80px;">
    		<div class="row">
    			<div class="col-md-10">
    			<h1>Request a Key</h1>

    			{{ if .Error  }}
				<div class="panel panel-danger">
					<div class="panel-body">
						{{.Error}}
					</div>
				</div>
				{{ end }}

				{{ if not .DenyRequest }}



					<form action="" method="POST" enctype="multipart/form-data">
						<input type="hidden" name="csrf_token" value="{{ .Token }}">
						{{ range $fieldname := .PortalConfig.KeyRequestFields }}
						<div class="form-group">
							<label for="{{$fieldname}}">{{$fieldname}}</label>
							<input type="text" class="form-control" id="{{$fieldname}}" name="{{$fieldname}}" placeholder="">
						</div>
						{{ end }}


						{{ if eq .AuthType "jwt"}}
						<div class="form-group">
							<p>
								This API is configured to validate against JSON Web Tokens, in order for this to work, we will need to know your HMAC
								Secret OR a valid RSA public key, please enter this below as part of your key request.
							</p>

                            <label>Signature validation key:</label>
                            <textarea rows="10" class="form-control" id="jwt_secret" name="jwt_secret" placeholder="" value="" style="font-family: monospace;"></textarea>
                        </div>
			{{ else if and .UseCertificate (eq .AuthType "authToken") }}
						<div class="form-group">

                            <label>Upload your public client certificate in PEM format:</label>
			    <textarea rows="10" class="form-control" id="certificate_upload" name="certificate" placeholder="" value="" style="font-family: monospace;"></textarea>
                        </div>

                        {{ end }}

						<input type="submit" class="btn btn-default" value="Request Key"></button>
					</form>


				{{ else if not .Error }}

					<p>
						It appears there is already an API key associated with this account or it is waiting for approval. To reset your key, or to change your key details, please contact your site administrator.
					</p>

				{{ end }}
    			</div>

				<div class="col-md-2">
    				{{ template "portalMemberNavigation" . }}
    			</div>

    		</div>

    	</div>

    </div>

	  {{ template "footer" .}}

    </div> <!-- /container -->


    {{ template "scripts" .}}
  </body>
</html>



{{ end }}
