{{define "scripts"}}

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
      portalRoot = {{ .PortalRoot }};
    </script>
  	<script src="/portal-assets/js/jquery.min.js"></script>
    <script src="/portal-assets/js/jquery.twbsPagination.min.js"></script>
    <script src="/portal-assets/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/portal-assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/portal-assets/js/key-request-flow.js"></script>
    <script src="/portal-assets/js/selectable-list.js"></script>
    <script src="/portal-assets/js/dynamic-inputs.js"></script>
    <script src="/portal-assets/js/copy-to-clipboard.js"></script>

    <script src="/portal-assets/js/custom.js"></script>
    <script src="/portal-assets/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="/portal-assets/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="/portal-assets/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="/portal-assets/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="/portal-assets/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
    <script src="/portal-assets/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
    <script src="/portal-assets/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="/portal-assets/js/scripts.js"></script> <!-- Custom scripts -->

{{ end }}
