{{ define "signupSuccess" }}


{{ template "header" .}}


  <body>
  
  	{{ template "navigation" . }}

    <div>
    	
    	<div class="container" style="margin-top: 80px;">
    		<div class="row">
    			<h1>You're all signed up!</h1>
    			
    			<p>
    			Congratulations, you are all signed up, please login.
    			</p>
    		</div>    		
    		
    	</div>
    	
    </div>

	  {{ template "footer" .}}
      
    </div> <!-- /container -->


    {{ template "scripts" .}}
  </body>
</html>



{{ end }}